:root {
    --header-top: #264653;
    --header-side: #264653;
    --header-corner: #3d405b;
    --text: #3d405b;
    --counter-text: white;
}

/* =================== global style =================== */
td {
    position: relative;
    padding: 0 !important;
    height: auto !important;
}
td p {
    margin: 0.4em 0.8em !important;   /* top/bottom left/right */
}

td li {
    line-height: 1.5 !important;
    margin-bottom: 0.7em !important;
}

.block-language-table {
    display: block;
    overflow-x: auto;
}
/*  */

/*  */
.header-top{
    background-color: var(--header-top) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
}

.header-side {
    background-color: var(--header-side) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
    text-align: left;
}

.header-corner {
    background-color: var(--header-corner) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
    text-align: left;
}
/*  */

/*  */
.spread {
    width: 99%;
    min-width: max-content;
    border-collapse: collapse;
}

.spread td{
    white-space: nowrap;
}
/*  */

/* alignment */
.center td:not(:has(ul)), .center .table-cell-editor {
    text-align: center;
}

.middle td:not(:has(ul)), .middle .table-cell-editor {
    vertical-align: middle;
}
/*  */

/* =================== editor style =================== */
/* cell textarea */
/* td.editing > *:not(.table-cell-editor){
    visibility: hidden;
} */
td.editing {
    width: var(--table-cell-width);
}
td.editing p {
    display: none;
    /* visibility: hidden; */
}

.table-cell-editor {
    display: block;

    resize: none;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: var(--table-cell-height);

    box-sizing: border-box !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;

    font: inherit;
    color: inherit;
    line-height: inherit;
    padding: 0.4em 0.8em !important;
    margin: 0;
    white-space: normal;
}


